[core]
  excludesfile = /Users/diederik/.gitignore

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
  required = true

[user]
	name = Diederik van den Burger
[gpg]
	program = /usr/local/bin/krgpg
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
[alias]
	sync = !/usr/local/bin/legit sync
	publish = !/usr/local/bin/legit publish
	unpublish = !/usr/local/bin/legit unpublish
	undo = !/usr/local/bin/legit undo
	branches = !/usr/local/bin/legit branches
